@import "variables";
@import "mixins";
@import "components/forms";
@import "components/buttons";
@import "components/chips";

.form-control {
  display: block;

  border-radius: $default-radius;

  padding: $ind-2 $ind-4;

  width: 100%;

  border: 1px solid $border-color;

  &:focus, &:focus-within {
    @include focusBorder;
  }

  background-color: white;
}

[uiSelect] {
  @extend .form-control;

  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
  background-size: 0.85rem auto;
  background-repeat: no-repeat;
  background-position: right #{$ind-3} center;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

[uiInput] {
  @extend .form-control;

  &[list] {
    @extend [uiSelect];
  }

  &::-webkit-calendar-picker-indicator {
    display: none;
  }
}

ui-toolbar {
  font-size: 18px;
  font-weight: 700;

  width: 100%;

  background-color: $toolbar-color;
  color: white;

  height: 56px;

  padding: $ind-4;
}

ui-side-menu-host {
  height: 100%;
  width: 100%;

  position: relative;

  .ui-backdrop {
    position: fixed;

    top: 0;
    left: 0;

    z-index: 500;

    height: 100%;
    width: 100%;

    transition: background-color 0.35s ease-in-out;

    background-color: #00000000;

    &.ui-dark {
      background-color: #00000030;
    }
  }

  ui-side-menu {
    width: 100%;
    height: 100%;
    max-width: 75%;
    background-color: white;

    transition: all ease-in-out 0.35s;
    position: fixed;
    z-index: 1000;

    &.left {
      height: 100%;

      transform: translateX(-103%);

      &.opened {
        transform: translateX(0%);
      }
    }
  }
}

ui-progress-bar {
  .ui-progress {
    height: 0.8rem;
    width: 100%;

    border-radius: $default-radius;
    background-color: $progress-background-color;

    position: relative;

    .ui-progress-bar {
      position: absolute;

      height: 100%;
      border-radius: $default-radius;

      background-color: $primary-color;
    }
  }
}


ui-divider {
  width: 100%;

  .ui-divider {
    padding: 0 $ind-1;

    width: 100%;
    border-bottom: $divider-color 1px solid;
    height: 1px;

    margin: $ind-1 0;
  }
}

ui-accordion {
  border-radius: $default-radius;
  border: 1px solid $border-color;

  ui-expansion-panel {
    border-bottom: 1px solid $border-color;

    .ui-panel__header-wrapper, .ui-panel__body-wrapper {
      padding: $ind-4;
    }

    .ui-panel__header-wrapper {
      border-bottom: 1px solid $border-color;

      &.opened {
        background-color: #e7f1ff;
        color: #0c63e4;

        transition: all 0.35s ease-in-out;
        @include focusBorder;
      }
    }

    .ui-panel__body-wrapper {
      overflow: hidden;
      padding-top: 0;
      padding-bottom: 0;

      transition: height 0.35s ease-in-out;

      &.collapsed {
        height: 0;
      }
    }
  }
}

ui-modal {
  background-color: #00000050;

  .ui-modal-wrapper {
    background-color: white;

    border-radius: $default-radius;

    ui-modal-header, ui-modal-body, ui-modal-bottom {
      padding: $ind-4;
    }

    ui-modal-header, ui-modal-body {
      border-bottom: 1px solid $border-color;
    }

    ui-modal-bottom {
      display: flex;

      justify-content: flex-end;

      align-items: center;

      > *:not(:first-child) {
        margin-left: $ind-2;
      }
    }
  }
}

@keyframes spinner-border {
  to {
    transform: rotate(360deg);
  }
}

.ui-spinner-border {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  vertical-align: -.125em;
  border: .25em solid $purple-color;
  border-right-color: transparent;
  border-radius: 50%;
  -webkit-animation: .75s linear infinite spinner-border;
  animation: .75s linear infinite spinner-border;
}


ui-chip-list {
  @extend [uiInput];

  padding: $ind-2;

  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;

  ui-chip {
    flex: 0 0 auto;
    margin: $ind-1;
  }

  input {
    width: 150px;
    flex: 1 0 auto;
    padding: $ind-2;

    border: none;
  }
}
