@import "../variables";

.colored {
  &, [data-bui-color=primary] {
    color: white;
    background-color: $primary-button-color;
  }

  &[data-bui-color=success] {
    background-color: $success-button-color;
  }

  &[data-bui-color=secondary] {
    background-color: $secondary-button-color;
  }

  &[data-bui-color=danger] {
    background-color: $danger-button-color;
  }

  &[data-bui-color=warning] {
    color: black;
    background-color: $warning-button-color;
  }
}

.button-like {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
